body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-container .file-input {
  height: 0;
  width: 0;
  opacity: 0;
}
.input-container {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #efb6b2;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 25px;
  color: #efb6b2;
  font-weight: bold;
  font-size: 24px;
}
.input-container:hover {
  background: #efb6b2;
  color: white;
}

span {
  margin-bottom: 20px;
}
